* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}
#root {
  width: 400px;
  height: 300px;
  border: 1px solid red;
}

.Pane {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: margin-top 200ms ease;
}
.Pane--advanced {
  margin-top: -300px;
}

/* First pane */
#selectFile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#selectFileInput {
  display: none;
}

/* Second pane */
.metadata {
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#fileTitle {
  font-size: 24px;
  margin-bottom: 10px;
  height: 38px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
#fileDuration {
  font-size: 18px;
}

.controls {
  height: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
#togglePlayback {
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
#togglePlayback:hover {
  background: #f2f2f2;
}
#togglePlayback:active {
  background: #ccc;
  border-color: #999;
}

#waitBetweenRepeat {
  width: 40px;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
}
label span {
  font-size: 14px;
}

#currentTime {
  width: 0;
  height: 0;
  margin-left: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #03a5fe;
  position: absolute;
  top: -20px;
  z-index: 9;
}
#timeSelector {
  position: relative;
  margin: 30px 20px 10px 20px;
  display: block;
  width: 95%;
}
.noUi-connects {
  background: #fff;
}
.noUi-connect {
  background: #aaa;
}
.noUi-connect:hover {
  background: #ccc;
}
.noUi-handle {
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 10;
}
.noUi-handle:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
